@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:wght@400;500;600;700&family=Lato:wght@400;700;900&family=Manrope:wght@500;600;700;800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

body {
  font-family: "Plus Jakarta Sans", serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
img {
  width: 100%;
}

@layer base {
  h1 {
    font-size: 68px;
    font-style: normal;
    font-weight: 700;
    line-height: 81.6px; /* 120% */
  }
  h2 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 100% */
  }
  h3 {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px; /* 115% */
  }
  h4 {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 44.8px; /* 140% */
  }
  h5 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 33.6px; /* 140% */
  }
  h6 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
  }
  p {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    color: #7e7e7e;
  }
  li {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28.8px; /* 180% */
    color: #7e7e7e;
  }
  span {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20.2px; /* 180% */
    color: #7e7e7e;
  }
  button {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    background-color: #2ebb77;
    color: white;
  }
  input {
    border-radius: 12px;
    border: 1px solid #f5f5f5;
    background: #f5f5f5;
    outline: none;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #9b9b9b;
  }
  input::placeholder {
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #9b9b9b;
  }
}

#btn {
  background-color: black;
}

#pickBnnr {
  background-image: url(../src/assets/img/pickBnnr.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#pickBnnr2 {
  background-image: url(../src/assets/img/pickBnnr2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#pickBnnr3 {
  background-image: url(../src/assets/img/customBnrr.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#pickBnnr4 {
  background-image: url(../src/assets/img/commentBnnr.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#cardHover:hover {
  box-shadow: 0px 29px 25px rgba(0, 0, 0, 0.07);
}
